body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.box{
    background-color: rgb(133, 133, 231);
    color: white;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
    transform: translateX(200%);
    transition: transform 0.3s ease;
}

/* every even will be now placed to left  */
.box:nth-of-type(even){
    transform: translateX(-200%);
}

.box.show{
    transform: translateX(0);
}